/build/
/install/
/log/
__pycache__/
*.py[cod]
/pixi.lock

bag/*
image_capture/*
/lib/
/external/
/include/camera/
/include/stream/
.vscode
*.pyc
*.code-workspace
!bag/raw/.gitkeep
!bag/compressed/.gitkeep
!bag/undistorted/.gitkeep
